[defaults]
# Procesa las 5 máquinas de cada sandbox de forma simultánea
forks = 5

# Evita la creación de archivos basura .retry en el contenedor
retry_files_enabled = False

# Optimización de Memoria: Almacena las variables de las MV en disco duro temporizado
# en lugar de saturar la memoria RAM del pod de Kubernetes.
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
fact_caching_timeout = 7200

[ssh_connection]
# CRÍTICO: Envía las tareas en lotes combinados a través de SSH (Acelera x4 el despliegue)
pipelining = True

# Reutiliza el canal de conexión SSH abierto para evitar el "Handshake" constante
ssh_args = -o ControlMaster=auto -o ControlPersist=180s -o PreferredAuthentications=publickey

# Número de reintentos SSH si la red interna de OpenStack experimenta microcortes por sobrecarga
retries = 3

# Reduce las llamadas de consulta omitiendo la recolección de características de red innecesarias
gather_subset = !all,!network

# Incrementa los forks drásticamente para las llamadas de API de OpenStack
# (A diferencia de SSH, las llamadas de API consumen poquísima CPU en el pod)
forks = 15

[openstack_connection]
# Reduce el tiempo de espera si un recurso de Neutron tarda en responder
timeout = 30
retries = 5
